<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>00_数制转换.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>01_杨辉三角.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>02_有效括号_leetcode_20.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>03_爬楼梯.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>04_每日温度.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>05_字符串解码_leetcode_394.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06_去除重复字母_Leetcode_316.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>07_字符串匹配_BF实现.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>08_字符串匹配_RK实现.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09_字符串匹配_KMP算法.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>AlgorithmExercisesDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C0B7EC8244AE3FD00F698CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C0B7ED3244B06E800F698CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C0B7EDE244B13FD00F698CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C0B7F0A244B311A00F698CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C0B7F15244B314100F698CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CA5E2E8243EBC7100A0CC78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
